{% extends 'base.html' %}
{% load bootstrap4 %}

{% block html_header %}
<style>
    html{
      min-height: 110%;
    }
    .row{
        padding-top: 30px;
        margin-left: 130px;
    }
    .title{
        padding-top: 55px;
        text-align: center;
    }
</style>
{% endblock %}

{% block html_body %}
<div class="container">
    <div class="title">
        <h1 style="font-weight: bold;">프로필 수정</h1>
    </div>
    <div class="row">
        <div class="col-10">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form profEdit_form %}

                <button type="submit" class="btn btn-info btn-block">수정</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
                                                      